<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Lof_SendGrid::config_lof_sendgrid" title="sendgrid"/>
						</resource>
					</resource>
				</resource>
				<resource id="Lof_SendGrid::SingleSend" sortOrder="10" title="SingleSend">
					<resource id="Lof_SendGrid::SingleSend_delete" sortOrder="20" title="Delete SingleSend"/>
					<resource id="Lof_SendGrid::SingleSend_view" sortOrder="40" title="View SingleSend"/>
					<resource id="Lof_SendGrid::SingleSend_preview" sortOrder="40" title="Preview SingleSend"/>
					<resource id="Lof_SendGrid::SingleSend_save" sortOrder="40" title="Save SingleSend"/>
				</resource>
				<resource id="Lof_SendGrid::Statistics" sortOrder="15" title="Statistics"></resource>
				<resource id="Lof_SendGrid::AddressBook" sortOrder="18" title="AddressBook"></resource>
				<resource id="Lof_SendGrid::Subscriber" sortOrder="20" title="Subscriber"></resource>
				<resource id="Lof_SendGrid::UnSubscriber" sortOrder="25" title="UnSubscriber"></resource>
				<resource id="Lof_SendGrid::Sender" sortOrder="30" title="Sender">
					<resource id="Lof_SendGrid::Sender_view" sortOrder="40" title="View Sender"/>
					<resource id="Lof_SendGrid::Sender_save" sortOrder="40" title="Save Sender"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
