<?xml version="1.1" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<sendgrid>
			<general>
				<webhook_url>http://[YourDomain]/rest/V1/lof-sendgrid/webhook</webhook_url>
			</general>
		</sendgrid>
	</default>
</config>
