<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<sendgrid>
			<general>
				<enabled/>
				<api_key/>
				<subscribe_list/>
				<unsubscribe_list/>
				<add_customer/>
				<webhook_url/>
				<list_for_new_customer/>
			</general>
			<sync>
				<cron_enable/>
			</sync>
		</sendgrid>
		<smtp>
			<general>
				<enabled/>
				<host/>
				<port/>
				<connection_security/>
				<authentication_method/>
				<username/>
				<password/>
				<send_test_to_email/>
			</general>
			<smtp_settings>
				<local_client_host_name/>
			</smtp_settings>
			<email_settings>
				<use_another_email_sender/>
				<cc_emails/>
				<bcc_emails/>
			</email_settings>
			<log_settings>
				<enable_log_outgoing_emails/>
				<log_clean_every/>
			</log_settings>
			<debug>
				<disable_actual_email_delivery/>
			</debug>
		</smtp>
		<smltp>
			<email_settings>
				<add_plain_text_part_in_email/>
			</email_settings>
		</smltp>
	</default>
</config>
