<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Lof\SendGrid\Api\SingleSendRepositoryInterface" type="Lof\SendGrid\Model\SingleSendRepository"/>
	<preference for="Lof\SendGrid\Api\Data\SingleSendInterface" type="Lof\SendGrid\Model\Data\SingleSend"/>
	<preference for="Lof\SendGrid\Api\Data\SingleSendSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Lof\SendGrid\Model\ResourceModel\SingleSend\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">lof_sendgrid_singlesend</argument>
			<argument name="resourceModel" xsi:type="string">Lof\SendGrid\Model\ResourceModel\SingleSend\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="lof_sendgrid_singlesend_listing_data_source" xsi:type="string">Lof\SendGrid\Model\ResourceModel\SingleSend\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="Lof\SendGrid\Model\ResourceModel\Sender\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">lof_sendgrid_senders</argument>
			<argument name="resourceModel" xsi:type="string">Lof\SendGrid\Model\ResourceModel\Sender\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="lof_sendgrid_sender_listing_data_source" xsi:type="string">Lof\SendGrid\Model\ResourceModel\Sender\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="Lof\SendGrid\Model\ResourceModel\Subscriber\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">lof_sendgrid_subscribers_group</argument>
			<argument name="resourceModel" xsi:type="string">Lof\SendGrid\Model\ResourceModel\Subscriber\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="lof_sendgrid_subscriber_listing_data_source" xsi:type="string">Lof\SendGrid\Model\ResourceModel\Subscriber\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="Lof\SendGrid\Model\ResourceModel\UnSubscriber\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">lof_sendgrid_unsubscribers_group</argument>
			<argument name="resourceModel" xsi:type="string">Lof\SendGrid\Model\ResourceModel\UnSubscriber\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="lof_sendgrid_unsubscriber_listing_data_source" xsi:type="string">Lof\SendGrid\Model\ResourceModel\UnSubscriber\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
