<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add action="lof_sendgrid/campaigns/index" id="Lof_SendGrid::lof_sendgrid_campaigns" module="Lof_SendGrid" parent="Magento_Backend::marketing" resource="Magento_Backend::content" sortOrder="9999" title="Campaigns"/>
		<add action="lof_sendgrid/statistics/index" id="Lof_SendGrid::lof_sendgrid_statistics" module="Lof_SendGrid" parent="Magento_Reports::report" resource="Magento_Backend::content" sortOrder="9999" title="Statistics"/>
	</menu>
</config>
