<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="landofcoder" sortOrder="1" translate="label">
			<label>landofcoder</label>
		</tab>
		<section id="sendgrid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="19" translate="label">
			<label>SendGrid Intergration</label>
			<tab>landofcoder</tab>
			<resource>Lof_SendGrid::config_lof_sendgrid</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="11" translate="label" type="text">
					<label>API Key</label>
					<comment/>
				</field>
				<field id="subscribe_list" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="13" translate="label" type="select">
					<label>Subscribe List</label>
					<comment/>
					<source_model>Lof\SendGrid\Model\Config\Source\SubscribeList</source_model>
				</field>
				<field id="unsubscribe_list" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="14" translate="label" type="select">
					<label>Unsubscribe List	</label>
					<comment/>
					<source_model>Lof\SendGrid\Model\Config\Source\UnsubscribeList</source_model>
				</field>
				<field id="add_customer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="select">
					<label>Add customers without subscriptions status in SendGrid	</label>
					<comment>If this setting is enable than all customers without any subscription status (subscribe / unsubsricbe) also will be added in SendGrid contacts list like subscribers.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="webhook_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
					<label>Webhook Url</label>
					<comment/>
				</field>
				<field id="list_for_new_customer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="16" translate="label" type="select">
					<label>List for New Customer</label>
					<comment/>
					<depends>
						<field id="add_customer">1</field>
					</depends>
					<source_model>Lof\SendGrid\Model\Config\Source\ListForNewCustomer</source_model>
				</field>
			</group>
			<group id="sync" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label">
				<label>Sync all contacts	</label>
				<field id="cron_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Cron Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="sync" type="button" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
					<frontend_model>Lof\SendGrid\Block\Adminhtml\System\Config\ButtonSync</frontend_model>
					<label>Sync All Contacts</label>
				</field>
			</group>
		</section>
		<section id="smtp" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
			<label>SMTP</label>
			<tab>landofcoder</tab>
			<resource>Lof_SendGrid::config_lof_sendgrid</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General Settings</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled SMTP</label>
					<comment>When the option is disabled, the module will not impact on email sendings</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="host" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="text">
					<label>Host</label>
					<comment>Host name or IP address of SMTP Server</comment>
				</field>
				<field id="port" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="16" translate="label" type="text">
					<label>Port</label>
					<comment><![CDATA[Default ports: 25, 465, or 587. (<strong>SSL</strong> - 465, <strong>TLS</strong> - 587)]]></comment>
				</field>
				<field id="connection_security" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="18" translate="label" type="select">
					<label>Connection Security	</label>
					<comment/>
					<source_model>Lof\SendGrid\Model\Config\Source\ConnectionSecurity</source_model>
				</field>
				<field id="authentication_method" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
					<label>Authentication Method</label>
					<comment/>
					<source_model>Lof\SendGrid\Model\Config\Source\AuthenticationMethod</source_model>
				</field>
				<field id="username" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="21" translate="label" type="text">
					<label>Username	</label>
					<comment/>
				</field>
				<field id="password" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="22" translate="label" type="password">
					<label>Password</label>
					<comment/>
				</field>
				<field id="send_test_to_email" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="23" translate="label" type="text">
					<label>Send Test To E-mail	</label>
					<comment/>
				</field>
				<field id="Send" translate="label" type="button" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
					<frontend_model>Lof\SendGrid\Block\Adminhtml\System\Config\ButtonSendTest</frontend_model>
					<label>Send Test E-mail</label>
				</field>
			</group>
			<group id="smtp_settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label">
				<label>SMTP Settings</label>
				<field id="local_client_host_name" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Local Client Hostname</label>
					<comment><![CDATA[Local client hostname or IP. Default: <strong>localhost</strong>]]></comment>
				</field>
			</group>
			<group id="email_settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Email Settings</label>
				<field id="add_plain_text_part_in_email	" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="12" translate="label" type="select">
					<label>Add Plain Text Part in Email	</label>
					<comment><![CDATA[Add Plain part in email recommended for <strong>increase Spam Score of email</strong>]]></comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="use_another_email_sender" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="12" translate="label" type="select">
					<label>Use Another Email Sender</label>
					<comment><![CDATA[<strong>Please notice</strong>, the <strong>Sender domain</strong> must be the same as the domain where you send email. Other combinations can lead to a ban because of spam]]></comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="cc_emails" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="textarea">
					<label>CC Emails	</label>
					<comment><![CDATA[Comma-separated. Leave empty for disable <strong>CC emails</strong>.]]></comment>
				</field>
				<field id="bcc_emails" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="textarea">
					<label>BCC Emails	</label>
					<comment><![CDATA[Comma-separated. Leave empty for disable <strong>BCC emails</strong>.]]></comment>
				</field>
			</group>
			<group id="log_settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
				<label>Log Settings</label>
				<field id="enable_log_outgoing_emails" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable Log Outgoing Emails	</label>
					<comment><![CDATA[See the all emails and their contents ever <strong>sent throughout Aitoc SMTP.</strong>]]></comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="log_clean_every" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="text">
					<label>Log Clean Every (days)</label>
					<comment><![CDATA[<strong>Day(s). </strong>When empty or zero, the Email log will not be cleaned.]]></comment>
				</field>
			</group>
			<group id="debug" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label">
				<label>Debug</label>
				<field id="disable_actual_email_delivery" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Disable Actual Email Delivery (Debug Mode)	</label>
					<comment><![CDATA[<strong>Set the option to ‘Yes’ in order not to send emails actually.</strong> That can be used for debug or development purposes]]></comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="exceptional_email_addresses	" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="textarea">
					<label>Exceptional Email Addresses</label>
					<comment>Comma-separated. Leave empty for disable</comment>
					<depends>
						<field id="disable_actual_email_delivery">1</field>
					</depends>
				</field>
				<field id="exceptional_email_domains" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="textarea">
					<label>Exceptional Email Domains	</label>
					<comment><![CDATA[Comma-separated. Leave empty for disable. <strong>Example</strong>: http://example.com,qwewqe.com]]></comment>
					<depends>
						<field id="disable_actual_email_delivery">1</field>
					</depends>
				</field>
			</group>
		</section>
	</system>
</config>
